{% extends "base.html" %}
{% import "macros.j2" as macro %}

{% block content %}
    <h1>Edit Profile</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {{ macro.display_form_errors(form.username.errors) }}
        </p>
        <p>
            {{ form.about_me.label }}<br>
            {{ form.about_me(cols=50, rows=4) }}<br>
            {{ macro.display_form_errors(form.about_me.errors) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock content %}
